.a1{
	min-height: 100px;
	background-image: url(../images/ph1.jpg);
}
.a2{
	min-height: 100px;
	background-image: url(../images/ph2.jpg);
}
.a3{
	min-height: 100px;
	background-image: url(../images/ph3.jpg);
}
.a4{
	min-height: 100px;
	background-image: url(../images/ph4.jpg);
}
